doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Home page — QWERy
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        .cover-space
        header.header
          .header__content
          a.logo(href='/')
            h1.logo__title QWERy
          nav.main-nav.header__center
            ul.main-nav__list
              li.main-nav__item
                a.main-nav__link.main-nav__lint_activ(href='#') Information
              li.main-nav__item
                a.main-nav__link(href='#') About&nbsp;us
              li.main-nav__item
                a.main-nav__link(href='#') Culture
            label.search
              .search__ikon
              input.search__form(type="text" placeholder='search')
        section.section.section__main
          .main-title
              .main-title__summery Explore the Nature Beauty
              h1.main-title__text Discaver
                  span.main-title__text_regular Wonderful Indonesia
          .social-networks
              h3.social-networks__title Follow&nbsp;us
              ul.social-networks__list
                  li.social-networks__item
                      a.social-networks__link(href='#')
                          .ikon__instagram
                  li.social-networks__item
                      a.social-networks__link(href='#')
                          .ikon__twitter
                  li.social-networks__item
                      a.social-networks__link(href='#')
                          .ikon__facebook
          .scroll-down Scroll down
                  .scroll-doun__ikon.ikon__arrow_downward
        .content
          section.section-cols
                  img.section-col.section-col__image(src="/images/enjoy.jpg" alt="Mountains")
                  .section-col.section-col__content
                      .main-title.main-title__small
                          span.main-title__summery EAST NUSA TENGGARA
                          h4.main-title__text Have you enjoyed&nbsp;your holliday?
                             p You will be amazed if you take part in this sailing Komodo islang tour packege. So it is also mandatoryfor you, besides enjoying Komodo Island, you else heve to taste the marine tourism.
                      a.arrow-link(href="#") read more
                          .arrow-link__icon.ikon__arrow_rightard







